---
---

@import "{{ site.theme }}";

/* Hide the left header / sidebar */
.wrapper > header {
  display: none;
}

/* Let the main content use the full width */
.wrapper > section {
  margin: 0 auto;        
  padding-left: 0;
}
